* { margin: 0; padding: 0; box-sizing: border-box; }
body { font: 1.8em Helvetica, Arial; background: rgb(214, 90, 90);}
form { background: #000; padding: 3px; position: fixed; bottom: 0; 
width: 100%; }
form input { border: 0; padding: 10px; width: 90%; margin-right: .5%; }
form #button { color:#FFF; background: rebeccapurple  ; border: none; padding: 10px;  width: 8%; }
#messages { list-style-type: none; margin: 0; padding: 0; background: rgb(214, 90, 90);}
#messages li { padding: 5px 10px; }
#messages li:nth-child(odd) { background: #eee; background: rgb(209, 76, 76);}
#notifyUser { position: fixed; bottom: 42px; width: 100%; }